.employee {
  width:141px;
  height:38px;
  padding:10px 10px 6px 10px;
  float:left;
  font-size:13px;
}

.employee:hover {
  background:#f3f3f3;
  border-right:6px solid #FEB7D6;
  width:135px;
  cursor:pointer;
}

.employee:hover.bgWhite {
  background:white; background:rgba(244,67,54,1);
}
.employee:hover.bgWhite div,
.employee:hover.bgBrown div,
.employee:hover.bgPurple div,
.employee:hover.bgYellow div,
.employee:hover.bgBlue div,
.employee:hover.bgBlack div,
.employee:hover.bgOrange div,
.employee:hover.bgRed div,
.employee:hover.bgCyan div
 {
  color:white;
}
.employee:hover.bgBrown, .selected {
  background:rgba(233,30,99,1);
}
.employee:hover.bgPurple {
  background:rgba(156,39,176,1);
}
.employee:hover.bgYellow {
  background:rgba(103,58,183,1);
}
.employee:hover.bgBlue {
  background:rgba(63,81,181,1);
}
.employee:hover.bgBlack {
  background:rgba(33,150,243,1);
/*
  background:black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%239C92AC' fill-opacity='1' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
*/
}
.employee:hover.bgRed {
  background:rgba(3,169,244,1);
}
.employee:hover.bgGreen {
  background:rgba(0,188,212,1);
}
.employee:hover.bgOrange {
  background:rgba(0,150,136,1);
}
.employee:hover.bgCyan {
  background:rgba(76,175,80,1);
}
.employee:hover.bgMagenta {
  background:rgba(139,195,74,1);
}
.employee:hover.bgTeal {
  background:rgba(205,220,57,1);
}
.employee:hover.bgGrey {
  background:rgba(255,235,59,1);
}




.employee:hover i {
  color:#666;
}
.employee:hover .employee-photo{
  background:#ffffff;
}

.employee-photo {
  width:34px;
  height:34px;
  border:0px solid #ccc;
  background:#f3f3f3;
  border-radius: 100px;
  float:left;
  margin-left:10px;
  margin-right:12px;
}

.employee-photo i {
  width:20px;
  float:left;
  font-size:20px;
  margin:5px 0 0 8px;
  color:#fff;
}

.employee-firstname {
  display:none;
}

.employee-id {
  display:none;
}

.White, .color-2634 {
  background:white; background:rgba(244,67,54,1); //2634
  color:white;
}
.Brown, .color-2635 {
  background:brown; background:rgba(233,30,99,1); //2635
  color:white;
}
.Purple, .color-2636 {
  background:Purple; background:rgba(156,39,176,1); //2636
  color:white;
}
.Yellow, .color-2637 {
  background:Yellow; background:rgba(103,58,183,1); //2637
  color:white;
}
.Blue, .color-2639 {
  background:Blue; background:rgba(63,81,181,1); //2639
  color:white;
}
.Black, .color-2640 {
  background:Black; background:rgba(33,150,243,1); //2640
  color:white;
}
.Red, .color-2641{
  background:Red; background:rgba(3,169,244,1); //2641
  color:white;
}
.Green, .color-2642 {
  background:Green; background:rgba(0,188,212,1); //2642
  color:white;
}
.Orange, .color-2643 {
  background:Orange; background:rgba(0,150,136,1); //2643
  color:white;
}
.Cyan, .color-2644 {
  background:Cyan; background:rgba(76,175,80,1); //2644
  color:white;
}
.Magenta, .color-2645 {
  background:Magenta; background:rgba(139,195,74,1); //2645
  color:white;
}
.Teal, .color-2646 {
  background:Teal; background:rgba(205,220,57,1); //2646
  color:white;
}
.Grey, .color-2647 {
  background:Grey; background:rgba(255,235,59,1); //2647
  color:white;
}
.bg {
  background:#f3f3f3;
}

.selected {
  background: #EF5AA1;
}

/* https://www.materialui.co/colors
rgba(244,67,54,1)
rgba(233,30,99,1)
rgba(156,39,176,1)
rgba(103,58,183,1)
rgba(63,81,181,1)
rgba(33,150,243,1)
rgba(3,169,244,1)
rgba(0,188,212,1)
rgba(0,150,136,1)
rgba(76,175,80,1)
rgba(139,195,74,1)
rgba(205,220,57,1)
rgba(255,235,59,1)
*/
